@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap&#39");

$defaultFont: "Poppins", sans-serif;
$defualtColor: #ec523f;

$blockcolor1: #1abc9c;
$blockcolor2: #3498db;
$blockcolor3: #2ecc71;
$blockcolor4: #e67e22;
